body, h1, h2, h3, p, ol {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", "Noto Sans", "Lato", sans-serif;
}

h1 {
  font-size: 2.5rem; 
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem; 
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

#content {
  max-width: 480px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; 
  text-align: center; 
}

form {
  margin-top: 20px;
  display: inline-block; 
  text-align: left; 
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333; 
}

input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #ddd; 
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #333; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  #content {
    padding: 15px;
  }

  input[type="submit"] {
    width: 100%;
  }
}