body {
    margin: 0;
    padding: 0;
	
    background-color: black;
	font-size:16px;
	color: white;
	text-align:center;
	line-height:1.5;
	
}
#content{
	background-color:white;
	border:10px 20px;
	max-width:550px;
	margin:auto;
	border-radius: 20%;
	padding:10px;
	box-shadow:10px 10px grey;
}

h1 {
    color: red;
    font-size: 40px;
	font-weight: bold;
    margin: 0 auto;
	margin-bottom: 1rem;
    width: 90%; 
	font-family: "Pacifico";
    padding: 10px;
    text-align: center;
	text-decoration:underline;
}
label{
	color:black;
	font-size: 15px;
	font-weight:bold;
	font-family:"Oswald";
	
}

p{
	color:black;
	font-weight: bold;
	font-size:20px;
	font-family:"Oswald";
	margin-bottom:1.5rem;
}
input[type="submit"] {
	border:black;
	padding:0px;
	font-family:"Fredoka";
}
input[type="email"]{
	background-color:grey;
	color: white;
	width:35%;
	padding:5px;
	border: none;
	
}
input[type="checkbox"]{
	background-color:grey;
	color: black;
	width:35%;
	padding:5px;
	border: none;
	
	
}
	
	
#input-submit {
	width:100%;
    color: grey;
    border: none;
    padding:10px 20px;
	
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  #content {
    padding: 15px;

  }

  input[type="submit"] {
    width: 100%;
  }
}